.DS_Store

application/cache/*
!application/cache/index.html

# folder yang harus dibuat
resource/fontawesome
resource/img/fotoMahasiswa
resource/img/fotoPembimbingIndustri
resource/img/fotoPembimbingKampus
resource/suratMahasiswa/
resource/file/
resource/dokumenPKL/
resource/suratResmiPKL/

.vscode/

node_modules

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock
tests/mocks/database/ci_test.sqlite

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
